body {
  font-family: 'Noto Sans JP', sans-serif;
}
div.os-content nav > nav.dream-menu i {
  color: #ffffff;
}
footer .sub.footer {
  display: block;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.2em;
  color: rgba(0,0,0,.6);
}

@media screen and (min-width: 769px) {
  #dream-save-post-as-img iframe {
    width: 550px;
  }
}
@media screen and (max-width: 768px) {
  .dream-single .cover .cover-img {
    height: 0px;
  }
  .dream-grid {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
  }
  #dream-save-post-as-img {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  #dream-save-post-as-img p:first-child {
    text-align: center;
  }
  #dream-save-post-as-img iframe {
    width: 100%;
  }
}
.red-bomb {
  width: 2.5rem !important;
  height: 2.5rem !important;
  margin: 0 !important;
  vertical-align: middle !important;
}
