@media screen and (max-width: 767px) {
  .dream-grid {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
  }
  #dream-save-post-as-img {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}